<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/niko.png'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">I Campus BasketGal</h2>
            <h5 class="lt-slider-subtitle">Primera Edicion - Vigo 2019</h5>
            <div class="lt-slider-button">
              <a href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank" class="waves-effect waves-light btn-large primary-color-background">Proceso de Inscripción<i class="material-icons right">input</i></a>
            </div>
            <div class="lt-slider-links">
              <a href="https://m.do.co/c/396efaba7c20" target="_blank">Ver Detalles</a> o <a href="https://www.laratify.com/" target="_blank">Contactanos</a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/niko-2.png'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Temporada 2018 - 2019</h2>
            <h5 class="lt-slider-subtitle">Liga BaskeGal o Federados</h5>
            <div class="lt-slider-button">
              <a href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank" class="waves-effect waves-light btn-large primary-color-background">Galería<i class="material-icons right">input</i></a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/niko-3.png'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Comparte con nosotros tus fotos o videos</h2>
            <h5 class="lt-slider-subtitle">Los publicaremos en nuestra páina</h5>
            <div class="lt-slider-links">
              <a href="https://www.laratify.com/" target="_blank">Contactanos</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
